@tailwind base;
@tailwind components;
@tailwind utilities;

/* About us section style */
.background {
  background-image: url("https://i.ibb.co/v1y0v5m/AboutUs1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


 
/* more route */
.flightBackground{
    background-image: url("https://i.ibb.co/pLGYfBQ/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* rental cars */
.rentalCarBackground{
  background-image: url("https://i.ibb.co/d621Xty/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.clear-glass {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.border-round{
  border-radius: 4px;
}



/* Trips route */
.tripDesignBackground1{
  background-image: url("https://i.ibb.co/CJjVncw/image.png");
  background-position: center;
  background-size: cover;
}
.tripDesignBackground2{
  background-image: url("https://i.ibb.co/54DH6LW/image.png");
  background-position: center;
  background-size: cover;
}
.tripDesignBackground3{
  background-image: url("https://i.ibb.co/fHgBPJs/image.png");
  background-position: center;
  background-size: cover;
}



/* Custom hover and click animation styles */
.custom-tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .custom-tab {
    padding: 10px 20px;
    background-color: #b2f0bd;
    color: #333;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }
  
  .custom-tab:hover {
    background-color: #e0e0e0;
    color: #555;
    transform: scale(1.05);
  }
  
  .custom-tab.react-tabs__tab--selected {
    background-color: #fff;
    color: #333;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    transition: transform 0.2s ease;
  }
  
  .custom-tab.react-tabs__tab--selected:hover {
    transform: scale(1.05);
  }
  

  
  .react-tabs__tab-panel.react-tabs__tab-panel--selected {
    opacity: 1;
    transform: translateY(0);
  }
  
  .pulse-animation {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  



.button1 {
    position: relative; 
    text-align: center;
    padding: 8px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #2a99be;
    color: rgb(255, 255, 255);
    font-size: larger;
}

.button1:after {
    content: "";
    position: absolute;
    background-color: rgba(10, 10, 10, 0.185);
    width: 100%;
    height: 100%;
    transform: scale(4);
    transition: transform 0.4s;
}

.button1:hover:after {
    transform: scale(0);
} 

.my-link::after {
  @apply content-[''] text-black bg-[#6bccd3] w-[0%] h-[3px] absolute left-0 -bottom-1 rounded hover:w-[100%] duration-500;
}

.logout-button {
  @apply relative w-full flex justify-center items-center gap-2 py-2 px-4 border border-transparent text-sm font-bold uppercase tracking-[1px] rounded-md text-white bg-[#2d969e] hover:bg-[#53a9af] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500 duration-500;
}
